body {
  font-family: Myriad Pro, Garamond, Helvetica, Arial;
  line-height: 1.5em;
  font-size: 14px;
  background: url(images/background.jpg) repeat-y top center;
}

#page {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

h1 {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 701px;
  height: 40px;
}
#menu:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
}
#menu li { display: inline; }
#menu a {
  display: block;
  float: left;
  width: 174px;
  padding: 6px 0px 3px 0px;
  border-left: solid 1px white;
  text-align: center;
  border-bottom: none;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  
  background-color: #999;
}

ul { clear: both }

#menu a.hover { background-color: #33362F; color: #C6C6C6; }
#menu a.active { background-color: #444; color: #C6C6C6; border-color: white; padding: 10px 0 10px 0; font-size: 1.3em; white-space: nowrap;}

.section { clear: both; padding-top: 20px; }
.section img { float: right; }

#section_container h2 { font-weight: normal; }

#section_container {
  padding: 20px 40px 20px 40px;
  -moz-border-radius-topright: 10px;
  border-left: none;
  border-bottom: none;
  width: 580px;
}

#menu, #section_container {
  position: relative;
}
